@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap') 
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

body {
    font-size: 100%;
    background: linear-gradient(70deg, #228B22 19%, #556B2F 81% ) ;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top:  20px;
    margin-bottom: 20px;
}
.logo-inicio {
    height: 100px;
    
    }
.menu-cabecalho {
    display: flex;
    gap: 50px;
}
.item-menu-superior {
    font-family: "Grandstander", cursive;
    color:antiquewhite;
    font-weight: 400;
    font-size: 30px;
}
.corpo-principal {
border-top: 1px groove darkkhaki;
margin-bottom: 40px;
}
.secao-principal {
    display: flex; 
    flex-direction: row;
    align-items: center ;
justify-content: space-around;
}
.conteudo-escrito {
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.conteudo-escrito-titulo {
    font-family: "Bakbak One", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 64px;
     color:rgb(238, 194, 136);
}

.conteudo-escrito-subtitulo {
    font-family: "Grandstander", cursive;
    font-weight: 300;
     font-style: normal;
     font-size: 40px;
     color:rgb(238, 194, 136);
}

.conteudo-escrito-botao1 {
    background-color:  rgb(158, 110, 71);
    width: 120px;
    height: 50px;
    border: ridge ;
    border-color: rgb(101, 58, 23);
    box-shadow: 2px 2px rgb(9, 74, 18);
    border-radius: 10px;
    font-family: "Grandstander", cursive;
    font-weight: 300;
     font-style: normal;
     font-size: 20px;     
}
.conteudo-escrito-botao1:hover {
    background-color: antiquewhite;
}

.imagem-abertura {
height: 450px;
}

.links-aulas-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.titulo-aulas-principal {
    font-family: "Grandstander", cursive;
    font-weight: 300;
     font-style: normal;
     font-size: 48px;  
     color: antiquewhite;
     margin-bottom: 10px;
}

.paragrafo-aula-principal {
    font-family: "Grandstander", cursive;
    font-weight: 300;
     font-style: normal;
     font-size: 20px;  
     color: antiquewhite;
}

.rodape {
    padding: 40px;
    border-top: 1px groove darkkhaki;
}

.imagem-rodape {
    display: block;
    margin: 0 auto;
    height: 40px;
}
.bcab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top:  20px;
    margin-bottom: 20px;
}
.btitulo {
    display: flex; gap: 50px; font-family: "Bakbak One", sans-serif;
    font-weight: 400;font-style: normal;font-size: 64px;
    color:rgb(238, 194, 136);
    flex-direction: row; align-items: center; justify-content: space-around;
}
.bsubttl {
    display: flex; gap: 50px; font-family: "Bakbak One", sans-serif;
    font-weight: 400;font-style: normal;font-size: 48px;
    color:rgb(238, 194, 136);
    flex-direction: row; align-items: center; justify-content: space-around;
}
.bserie {
    font-family: "Grandstander", cursive; color:antiquewhite; font-weight: 400;
    font-size: 25px; display: flex; flex-direction: row; align-items: center; justify-content: space-around; margin-bottom: 65px;
}
.blink {
    font-family: "Grandstander", cursive; color:antiquewhite; font-weight: 400;
    font-size: 25px; display: flex; flex-direction: row; align-items: center; justify-content: space-around; margin-bottom: 50px;
}